* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

nav .navbar {
  background-color: black;
  position: fixed;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
nav .navbar .nav-title h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 25px;
  font-weight: bolder;
}
nav .navbar .nav-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
nav .navbar .nav-list ul li a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
  font-size: 16px;
  font-weight: bolder;
}

header {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  justify-content: center;
  gap: 10px;
}
header .header-content h1 {
  font-size: 104px;
  text-transform: uppercase;
  letter-spacing: 7px;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
header .header-content p {
  text-align: center;
  max-width: 480px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5) !important;
}
header .header-content .header-button {
  margin-top: 35px;
  letter-spacing: 3px;
  background-color: #64a19d;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  padding: 20px 32px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

#about {
  min-height: 80vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
#about .about-img {
  height: 40vh;
  width: 70vw;
}
#about .about-img img {
  max-width: 100%;
  height: 100%;
}
#about .about-content {
  height: 40vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
#about .about-content h2 {
  color: white;
  font-size: 32px;
  font-weight: 500;
}
#about .about-content p {
  max-width: 850px;
  color: rgba(255, 255, 255, 0.5) !important;
}
#about .about-content p a {
  color: #64a19d;
}

#projects .pj {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 180vh;
  max-width: 60%;
  margin: auto;
}
#projects .pj .project-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
#projects .pj .project-up .pj-up-img {
  max-width: 810px;
  min-height: 510px;
}
#projects .pj .project-up .pj-up-img img {
  width: 100%;
  height: 100%;
}
#projects .pj .project-up .pj-up-text {
  text-align: center;
}
#projects .pj .project-up .pj-up-text h2 {
  font-size: 24px;
}
#projects .pj .project-up .pj-up-text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5) !important;
}
#projects .pj .project-down {
  display: flex;
  flex-wrap: wrap;
}
#projects .pj .project-down .pj-down-box {
  width: 50%;
  background-color: black;
  text-align: center;
  color: white;
}
#projects .pj .project-down .pj-down-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#projects .pj .project-down .pj-down-text h2 {
  font-size: 24px;
}
#projects .pj .project-down .pj-down-text p {
  width: 450px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5) !important;
}/*# sourceMappingURL=style.css.map */